body {
  background-color: black;
  color: gray;
}


#holder {
  width: 800;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li {
	font-size: 1.5em;
	padding: .5em;
}

p {
	font-size: 1.5em;
	padding: .5em;
}
